.detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.detail-text {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    width: 60%; 
    text-align: left; 
    margin-left: 0px;
}