.barra {
    background-color: darksalmon;
    padding-top: 0rem;
}

.btn-barra {
    color: black;
    font-weight: bolder;
    text-decoration: none;
    padding: 0px 20px;
    width: 100%;
    text-align: end;
    margin-right: 50px;
}

.btn-barra:hover {
    color: white;
    text-decoration-line: overline;
    transition-duration: 0.4s;
}